<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projeto Wiki Exemplo 1</title>
    <link rel="stylesheet" href="../public/css/style.css">
    <link rel="stylesheet" href="../public/css/style_main.css">
</head>
<body>
    <div class="pagina-main-container">
        <nav class="up-menu">
            
            <ul class="nav-links">
                <li><a href="#">Home</a></li>
                <li><a href="#">Sobre</a></li>
                <li><a href="#">Serviços</a></li>
                <li><a href="#">Contato</a></li>
            </ul>
            <div class="search-box">
                <input type="text" placeholder="Pesquisar...">
                <button type="button">Pesquisar</button>
            </div>
        </nav>

         <div class = "main-container">
            
            <div class="list-text-content">
                Lista de tópicos
                <ul>
                    <li><a href="#">Introdução</a></li>
                    <li><a href="#">Tópico 1</a></li>
                    <li><a href="#">Tópico 2</a></li>
                    <li><a href="#">Tópico 3</a></li>
                </ul>
            </div>
            <div class="main-content">
                <div class="page-title">
                    Um título qualquer.
                </div>
                <hr>

                <div class="intro-container">

                    <div class = "intro-text">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus at lectus nec mi luctus iaculis nec et ligula. Sed accumsan ligula lorem, a varius augue interdum ut. Pellentesque diam arcu, tempor et placerat vitae, condimentum sed ex. Etiam varius neque id ante semper sodales. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Etiam ultricies ut arcu sed luctus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Praesent turpis lacus, laoreet sed rhoncus vitae, auctor nec ipsum. Praesent efficitur lacus nec turpis varius convallis. Vivamus dui libero, fermentum sit amet massa dictum.
                        </p>
                    </div>

                    <div class = "intro-table">
                        <div class="intro-table-title">Um título qualquer</div>
                        <div class="intro-table-img">
                            <img src="../public/media/wikipedia_logo.png" alt="Descrição da Imagem 1">
                        </div>
                        <table class="profile-info-table">
                            <tr>
                                <th>Nome</th>
                                <td>Fulano</td>
                            </tr>
                            <tr>
                                <th>Idade</th>
                                <td>25</td>
                            </tr>
                            <tr>
                                <th>Profissão</th>
                                <td>Desenvolvedor</td>
                            </tr>
                            <tr>
                                <th>Cidade</th>
                                <td>São Paulo</td>
                            </tr>
                        </table>
                    </div>

                </div>

                <div class="regular-content">
                    <div class="topic-title">
                        Tópico 1.
                    </div>
                    <hr>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus at lectus nec mi luctus iaculis nec et ligula. Sed accumsan ligula lorem, a varius augue interdum ut. Pellentesque diam arcu, tempor et placerat vitae, condimentum sed ex. Etiam varius neque id ante semper sodales. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Etiam ultricies ut arcu sed luctus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Praesent turpis lacus, laoreet sed rhoncus vitae, auctor nec ipsum. Praesent efficitur lacus nec turpis varius convallis. Vivamus dui libero, fermentum sit amet massa dictum.
                    </p>
                    <div class="image-content">
                        <div class="image-content-element">
                            <img src="../public/media/wikipedia_logo.png" alt="Descrição da Imagem 1">
                            <figcaption>Legenda da Imagem 1</figcaption>
                        </div>
                        <div class="image-content-element">
                            <img src="../public/media/wikipedia_logo.png" alt="Descrição da Imagem 2">
                            <figcaption>Legenda da Imagem 2</figcaption>
                        </div>
                        <div class="image-content-element">
                            <img src="../public/media/wikipedia_logo.png" alt="Descrição da Imagem 3">
                            <figcaption>Legenda da Imagem 3</figcaption>
                        </div>
                    </div>

                </div>

                <div class="regular-content">
                    <div class="topic-title">
                        Tópico 2.
                    </div>
                    <hr>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus at lectus nec mi luctus iaculis nec et ligula. Sed accumsan ligula lorem, a varius augue interdum ut. Pellentesque diam arcu, tempor et placerat vitae, condimentum sed ex. Etiam varius neque id ante semper sodales. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Etiam ultricies ut arcu sed luctus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Praesent turpis lacus, laoreet sed rhoncus vitae, auctor nec ipsum. Praesent efficitur lacus nec turpis varius convallis. Vivamus dui libero, fermentum sit amet massa dictum.
                    </p>
                    <div class="image-content">
                    </div>
                </div>

            </div>

            <div class="options-container">
                <ul>
                    <li><a href="#">Introdução</a></li>
                    <li><a href="#">Tópico 1</a></li>
                    <li><a href="#">Tópico 2</a></li>
                    <li><a href="#">Tópico 3</a></li>
                </ul>
            </div>


         </div>
    </div>
</body>
</html>