<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projeto Wiki Exemplo 1</title>
    <link rel="stylesheet" href="css/style.css"> <!--href="../public/css/style.css"-->
    <link rel="stylesheet" href="css/style_home.css"> <!--  href="../public/css/style_home.css"  -->
</head>
<body>
    <div class="pagina-main-container">
        <nav class="up-menu">
            
            <ul class="nav-links">
                <li><a href="#">Home</a></li>
                <li><a href="#">Sobre</a></li>
                <li><a href="#">Serviços</a></li>
                <li><a href="#">Contato</a></li>
            </ul>
            <div class="search-box">
                <input type="text" placeholder="Pesquisar...">
                <button type="button">Pesquisar</button>
            </div>
        </nav>

         <div class = "main-home">
            <div class = "intro-text">
                <div class="welcome-message"><p>Bem vindo a Filipedia!</p></div>
                <div class="welcome-text">
                    <p>
                        Aqui, você encontrará páginas de informações relacionadas a minha vida, vida de Filipe Trindade. Sinta-se a vontade para ler, criar e editar páginas!
                    </p>
                    <a href="views/teste_criacao.html">Clique aqui para criar uma página.</a>
                </div>

                <div class="table-pages">

                </div>

            </div>

            <div class="options-container">
                <ul>
                    <li><a href="#">Introdução</a></li>
                    <li><a href="#">Tópico 1</a></li>
                    <li><a href="#">Tópico 2</a></li>
                    <li><a href="#">Tópico 3</a></li>
                </ul>
            </div>

         </div>
    
        </div>
        
        <script type="module" src="js/generate_home_table.js"></script> <!--  src="../public/js/generate_home_table.js" -->
</body>
</html>