<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projeto Wiki Exemplo 1</title>
    <link rel="stylesheet" href="../public/css/style.css">
    <link rel="stylesheet" href="../public/css/style_main.css">


</head>


<body>
    <div class="pagina-main-container">
        <nav class="up-menu">
            
            <ul class="nav-links">
                <li><a href="#">Home</a></li>
                <li><a href="#">Sobre</a></li>
                <li><a href="#">Serviços</a></li>
                <li><a href="#">Contato</a></li>
            </ul>
            <div class="search-box">
                <input type="text" placeholder="Pesquisar...">
                <button type="button">Pesquisar</button>
            </div>
        </nav>

         <div class = "main-container">
            
            <div class="list-text-content">
                <ul>
                </ul>
            </div>
            <div class="main-content">
                <div class="page-title">
                </div>
                <hr>

                <div class="intro-container">

                    <div class = "intro-text" id="introducao">
                        <p>
                            
                        </p>
                    </div>

                    <div class = "intro-table">
                        <div class="intro-table-title"></div>
                        <div class="intro-table-img">
                            
                        </div>
                        <table class="profile-info-table">
                        </table>
                    </div>
                </div>


            </div>

            <div class="options-container">
                <ul>
                </ul>
            </div>


         </div>
    </div>

    <script src="../public/js/create_script.js"></script>

</body>
</html>